<header id="view">
    <h1>
        <em>Weight</em>Race presents: <strong>Flabicide 2013</strong>
    </h1>
    <p>
        You have <strong>40</strong> days left. Make each one count.
    </p>
</header>
<nav>
    <p><strong>WeightRace.net Alpha version</strong></p>
    <p>Hello, <strong>Walter Biggins</strong></p>
</nav>

<footer>
    <p>
        Copyright &copy; 2013 WeightRace.com<br>
        Designed and built by <a href="http://thinkmoult.com">Dion Moult</a>
    </p>
</footer>
