<header id="view">
    <h1>
        <em>Weight</em>Race presents: <strong>Flabicide 2013</strong>
    </h1>
    <p>
        You have <strong>40</strong> days left. Make each one count.
    </p>
</header>
<nav>
    <p><strong>WeightRace.net Alpha version</strong></p>
    <p>Hello, <strong>Walter Biggins</strong></p>
</nav>
<section id="racers">
    <ul>
        <li>
            <h1>Walter Biggins</h1>
            <p>
                <strong>10</strong>kg left<br>
                <strong>3rd</strong> place<br>
                <strong>14</strong> awards<br>
                <strong>230</strong> wobbly bits
            </p>
        </li>
        <li>
            <h1>Walter Biggins</h1>
            <p>
                <strong>10</strong>kg left<br>
                <strong>3rd</strong> place<br>
                <strong>14</strong> awards<br>
                <strong>230</strong> wobbly bits
            </p>
        </li>
        <li>
            <h1>Walter Biggins</h1>
            <p>
                <strong>10</strong>kg left<br>
                <strong>3rd</strong> place<br>
                <strong>14</strong> awards<br>
                <strong>230</strong> wobbly bits
            </p>
        </li>
        <li>
            <h1>Walter Biggins</h1>
            <p>
                <strong>10</strong>kg left<br>
                <strong>3rd</strong> place<br>
                <strong>14</strong> awards<br>
                <strong>230</strong> wobbly bits
            </p>
        </li>
    </ul>
</section>
<section id="graph">
    <img src="{{baseurl}}images/graph.png">
</section>
<section id="rules">
    <h1>
        The rules of the game
    </h1>
    <ul>
        <li>
            <h2>
                The finish line
            </h2>
            <p>
                You have 40 days until the competition finishes to achieve your weight goal and flaunt as many wobbly bits as you can.
            </p>
        </li>
        <li>
            <h2>
                The daily quota
            </h2>
            <p>
                You can update your weight no more than once each day. Once that day has passed, you've missed your chance.
            </p>
        </li>
        <li>
            <h2>
                The cheese
            </h2>
            <p>
                Each time you update, you are eligible to earn a number of trophies and awards, each worth a certain amount of wobbly bits.
            </p>
        </li>
        <li>
            <h2>
                The flabmaster
            </h2>
            <p>
                The one with the most wobbly bits wins. Good luck, and work hard.
            </p>
        </li>
    </ul>
</section>
<section id="awards">
    <h1>
        Potential awards
    </h1>
    <ul>
        <li>
            <h2>The Attendance Certificate</h2>
            <p>Awarded every time you make an update. Give yourself a pat on the back.</p>
        </li>
        <li>
            <h2>The Healthy Heart</h2>
            <p>Awarded whenever your update falls within your healthy <a href="http://en.wikipedia.org/wiki/Body_mass_index">BMI zone</a>.</p>
        </li>
        <li>
            <h2>The Progress Check</h2>
            <p>Awarded every time you move closer towards your goal.</p>
        </li>
        <li>
            <h2>The Dietary Detail</h2>
            <p>Awarded every time your update includes food information.</p>
        </li>
        <li>
            <h2>The Regular Combo</h2>
            <p>Awarded if you made an update yesterday as well.</p>
        </li>
        <li>
            <h2>The Pack Leader</h2>
            <p>Awarded when you are in first place.</p>
        </li>
    </ul>
</section>
<section id="top_losers">
    <h1>
        Last 10 updates
    </h1>
    <ul>
    {{#losers}}
        <li>
            <h2>
                {{name}}
            </h2>
            Awards will go here.
        </li>
    {{/losers}}
    </ul>
</section>
