Hello {{name}}, and welcome to WeightRace.

Thank you for creating your challenge, "{{competition_name}}".

This email looks ugly, but we're going to improve it later. For now, use this
link to get to your account:

http://weightrace.net/view/{{competition_id}}/{{racer_id}}/{{racer_password}}

Keep this email and bookmark the above link, as it is the only way you can
access your account and see your race details.

TODO: make this email pretty
TODO: make this email show rules of the game
