<header>
    <h1>
        <em>Weight</em>Race
    </h1>
    <img src="{{baseurl}}images/graph.png" alt="WeightRace Graph">
</header>
<nav>
    <p><strong><a href="{{baseurl}}">WeightRace.net Alpha version</a></strong></p>
    <form action="{{baseurl}}switch/" method="post">
        <input type="hidden" value="{{currenturl}}" name="currenturl">
        {{^imperial}}
        <input type="submit" name="submit" value="Switch to Imperial">
        {{/imperial}}
        {{#imperial}}
        <input type="submit" name="submit" value="Switch to Metric">
        {{/imperial}}
    </form>
    <form action="" method="post">
        <p>Already have a competition but forgot your login?</p>
        <label for="email">
            Email:
        </label>
        <input type="text" name="email" value="Type your email...">
        <input type="submit" name="submit" value="Send me my login">
    </form>
</nav>
<section id="register">
    <h2>
        Lose weight.<br>
        Compete with friends.
    </h2>
    <form action="" method="post">
        <label for="competition_name">Name your challenge now:</label>
        <input type="text" name="competition_name" value="{{competition_name}}">
        {{#remind_success}}
        <div class="notification success">
            <p>
                All right, we've sent you your competition access details.
                Please check your email for further instructions.
            </p>
        </div>
        {{/remind_success}}
        {{#has_errors}}
        <div class="notification error">
            <p>
                Uh oh! We've had some issues. Please check the following:
            </p>
            <ul>
                {{#errors}}
                <li>{{error}}</li>
                {{/errors}}
            </ul>
        </div>
        {{/has_errors}}
        <h3>
            Prepare your contestants (up to 4)
        </h3>
        {{#racers}}
        <fieldset>
            <legend>
                Racer {{n}}
                <span>{{tagline}}</span>
            </legend>
            <label for="racer{{n}}_name">Name:</label>
            <input type="text" name="racer{{n}}_name" value="{{name}}">
            <label for="racer{{n}}_weight">Current weight:</label>
            <input type="text" name="racer{{n}}_weight" value="{{weight}}">
            <label for="racer{{n}}_height">Height:</label>
            <input type="text" name="racer{{n}}_height" value="{{height}}">
            <label for="racer{{n}}_gender">Gender:</label>
            <span class="select">
            <select name="racer{{n}}_gender">
                <option value="1" {{#is_male}}selected="selected"{{/is_male}}>Male</option>
                <option value="0" {{#is_female}}selected="selected"{{/is_female}}>Female</option>
            </select>
            </span>
            <label for="racer{{n}}_ethnicity">Ethnicity:</label>
            <span class="select">
            <select name="racer{{n}}_ethnicity">
                <option value="asian" {{#is_asian}}selected="selected"{{/is_asian}}>Asian</option>
                <option value="black" {{#is_black}}selected="selected"{{/is_black}}>Black</option>
                <option value="hispanic" {{#is_hispanic}}selected="selected"{{/is_hispanic}}>Hispanic</option>
                <option value="white" {{#is_white}}selected="selected"{{/is_white}}>White</option>
            </select>
            </span>
            <label for="racer{{n}}_goal_weight">Goal weight:</label>
            <input type="text" name="racer{{n}}_goal_weight" value="{{goal_weight}}">
            <label for="racer{{n}}_email">Email:</label>
            <input type="text" name="racer{{n}}_email" value="{{email}}">
        </fieldset>
        {{/racers}}
        <h3>
            Choose a start and end date:
        </h3>
        <label for="start_date">Start date:</label>
        <input class="datepicker" type="text" name="start_date" value="{{start_date}}">
        <span>...until...</span>
        <label for="end_date">End date:</label>
        <input class="datepicker" type="text" name="end_date" value="{{end_date}}">
        <h3>
            Finally, set the stakes
        </h3>
        <input type="text" name="stake" class="longer" value="{{stake}}">
        <input type="submit" name="submit" value="Ready. Set. Go.">
    </form>
</section>
<section id="top_losers">
    <h1>
        Top losers this week
    </h1>
    <ul>
    {{#losers}}
        <li>
            <h2>
                {{name}}
            </h2>
            Awards will go here.
        </li>
    {{/losers}}
    </ul>
</section>
