Hey {{racer_name}},

This is your daily motivational email to achieve your weight goals for your
{{competition_name}} challenge.

TODO: make this email look pretty
TODO: insert a motivational and health quote of some kind

Just a reminder that you can (and should) update your weight here:

http://weightrace.net/view/{{competition_id}}/{{racer_id}}/{{racer_password}}

Cheers,
The WeightRace Email Robot :-)
