Hey {{racer_name}},

We're just nagging you to make sure that you're still on track with your {{competition_name}} challenge.

Don't forget that you can (and should) update your weight daily using the link below:

http://weightrace.net/view/{{competition_id}}/{{racer_id}}/{{racer_password}}

Oh, and remember: {{health_tip}}.

Cheers,
The WeightRace Email Robot :-)
