Dear WeightRace participant,

You are receiving this email because you (or somebody else using your email) have forgotten your access details to your WeightRace competitions.

Below is a list of your currently enrolled competitions and how to access them:

--- BEGIN LIST ---

{{#competitions}}
Name: {{competition_name}}
http://weightrace.net/view/{{competition_id}}/{{racer_id}}/{{racer_password}}

{{/competitions}}
--- END LIST ---

If you did not request this information, just disregard this message.

With love,
The WeightRace Email Robot :-)
